# Next.js & Node.js best-practice .gitignore
# Build output
.next
out/
dist
target
tarballs/
.errors/

# Rust
rustc-ice-*.txt

# Dependencies
node_modules
package-lock.json
yarn.lock
!.yarn.lock
.pnpm-store/

# Logs & process ids
*.log
pids
*.cpuprofile
*.heapsnapshot

# Test, Coverage and output
.nyc_output
coverage/
.DS_Store

# VS Code
.vscode/*
!.vscode/settings.json

# Editors & OS junk
.idea/
*.swp
*.swo

# Typescript
*.tsbuildinfo

# Next.js
.vercel
.now
.swc/
.turbo/

# Env and secrets
.env
.env.*

# Local serverless
.serverless/

# Misc
*.local

# Storybook
*storybook.log

# Custom
# Ignore any local private content
/images/*
!images/*.jpeg

.claude/session-ses_4b83.md
.claude/